<%- include('partials/header') -%>
<nav class="nav">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</nav>
<main class="container">
    <h1>Find a Resource</h1>
</main>
    

<%- include('partials/footer') -%>